.hidden {
  display: none;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.x-button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
