.hidden {
  display: none;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pad-box30 {
  margin-top: 30%;
}
.pad-box5 {
  margin-top: 5%;
}
.pad-box3 {
  margin-top: 3%;
}
.pad-box1 {
  margin-top: 1%;
}
.x-button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: whitesmoke;
  font-style: italic;
}
input {
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background: none;
}
#input-button {
  width: 100px;
  height: 55px;
  background: black;
  color: white;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}
#quote_text {
  font-size: small;
}
#quote_author {
  font-size: medium;
}
.todo-input {
  width: 225px;
}
.todo {
  background: rgba(255, 255, 255, 0.432);
  padding-top: 10px;
  border-radius: 5px;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

footer {
  position: fixed;
  padding-top: 10px;
  left: 0px;
  bottom: 0px;
  height: 8%;
  width: 100%;
  background: rgba(255, 255, 255, 0.43);
  /* background: rgb(0, 0, 0); */
}
